---
layout: default
title: Items
---
<h1 class="artifacts">Items & Artifacts</h1>
    
{% for item in site.items %}
    <div id="item" class="container {{ item.type }}">
        <h2 class="item">{{ item.name }}<br><span class="item-type">{{ item.type }}</span></h2>
        <div><p>
            {{ item.content | markdownify }}
            {% if item.type == "consummable" %}
            <br>You may use one consummable item per round as a free action. Subsequent uses within a round consume a full Action. You can carry six health vials and six other kinds of consummables on your person and within easy reach during combat unless you have taken levels in Artificer, for whom the limitations are doubled.
    {% endif %}
        </p></div>
    </div>
    
   
{% endfor %}