---
layout: default
title: People
---
<!-- NTS definitely can abstract this and places into the _data file -->
<h1>Player Characters</h1>

{% for item in site.data.players %}
    <div class="container">
        <div class="name">
            <h2><a target="_blank" href="{{ item.link }}">{{ item.name }}</a></h2>
            <image class="character" src="{{ item.img }}"></image>
        </div>
        <p>
            {{ item.desc }}
        </p>
    </div>
{% endfor %}

<h1>Non-Player Characters</h1>
<p>Select an option to filter  NPCs by location.</p>

{% for item in site.data.places %}
<div id="options">
    <input type="radio" name="place" id="{{ item.name }}" value="{{ item.name }}">
    <label for="">{{ item.name }}</label>
</div>
{% endfor %}

<script>
    const getRadioValue = () => {
        const option = document.getElementById("option");
        let el = document.getElementsByName("place");
        for (let i = 0; i < el.length; i++) {
            if (el[i].checked) {
                option.innerHTML = el[i].value;
                console.log(el[i].value);
            }
        }
    }
    const radios = document.getElementsByName("place");
    for (radio in radios) {
        radios[radio].onclick = getRadioValue();
    } 
</script>

<h2 id="option"></h2>

{% for item in site.data.npc %}
    {% if item.place == "option" %}

    <div class="container">
        <div class="name">
            <h2>{{ item.name }}</h2>
            <image class="character" src="{{ item.img }}"></image>
        </div>
        <p> 
            {{ item.desc }}
        </p>

    {% endif %}
{% endfor %}