---
layout: default
title: People
choice: 
---
<!-- NTS definitely can abstract this and places into the _data file -->
<h1>Player Characters</h1>

{% for item in site.data.players %}
    <div class="container">
        <div class="name">
            <h2><a target="_blank" href="{{ item.link }}">{{ item.name }}</a></h2>
            <image class="character" src="{{ item.img }}"></image>
        </div>
        <p>
            {{ item.desc }}
        </p>
    </div>
{% endfor %}

<h1>Non-Player Characters</h1>
<p>Select an option to filter  NPCs by location.</p>


<div id="options">
    {% for item in site.data.places %}
        <input type="radio" name="place" id="{{ item.name }}" value="{{ item.name }}">
        <label for="{{ item.name }}">{{ item.name }}</label>
    {% endfor %}
</div>
<script src="/resources/scripts/script.js"></script>

<h2 class="another">
    {% capture choice %}
    {% endcapture %}
</h2>


{% include npc.html %}
