<nav class="navbar">
    <ul class="navbar-nav">
        <li class="logo">
            <a href="" class="nav-link">
                <i class="fa fa-moon-o"></i>                      
                <span class="link-text">Home</span>
            </a>
        </li>

{% for item in site.data.navigation %}

        <li class="nav-item">
            <a href="{{ item.link }}" class="nav-link">
                <i class="fa {{ item.icon }}"></i>                    
                <span class="link-text">{{ item.name }}</span>
            </a>
        </li>

{% endfor %}
    </ul>
</nav>