{% for region in site.regions %}

<h1>{{ region.name }}</h1>
    <div class="container region">
        <div>
            {% if region.img %}
                <image class="region-image" src="{{ region.img | relative_url }}"></image>
            {% endif %}
        </div>

        <p>{{ region.content | markdownify }}</p>
    </div>

    <button class="{{ region.name | remove: ' ' }} button">Show Region</button>

    {% for city in site.places %}

        {% if city.region == region.name %}
            <div class="city {{ city.region | remove: ' ' }} hide">
                <h3>{{ city.name }}</h3>

                <div>
                    
                    {% if city.img %}
                        <image class="map" src="{{ city.img | relative_url }}"></image>
                    {% endif %}
                    
                    <p>{{ city.content }}</p>

                </div>

            </div>
        
        {% endif %}

    {% endfor %}

{% endfor %}

