{% for region in site.regions %}

<h1>{{ region.name }}</h1>
    <div class="container region">
        <div>
            {% if region.img %}
                <image class="region-image" src="{{ region.img }}"></image>
            {% endif %}
        </div>

        <p>{{ region.content | markdownify }}</p>
    </div>

    <button class="{{ region.name | remove: ' ' }}">Show Region</button>

    {% for city in site.places %}

        {% if city.region == region.name %}
            <div class="container city {{ city.region | remove: ' ' }} hide">
                <div>
                    <h3>{{ city.name }}</h3>
                    {% if city.img %}
                        <image class="map" src="{{ city.img }}"></image>
                    {% endif %}
                </div>
                
                <p>{{ city.content }}</p>

            </div>
        {% endif %}

    {% endfor %}

{% endfor %}

