/* Global Styles */

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    background-color: #333;
    box-sizing: border-box; 
}

/*.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto; 
}*/ 

/*h1 {
    font-size: 60px;
    padding-top: 40px;
}

h2 {
    border-top: 2px #fff solid;
    font-size: 48px;
    font-weight: bolder; 
    margin: 5px 0;
    padding: 5px;
}

h3 {
    font-size: 36px; 
    font-weight: bold; 
    margin: 10px 5px;
    padding: 5px; 
}

h4 {
    font-size: 24px;
    font-weight: normal;
    margin: 10px;
}

h5 {
    font-size: 18px;
    font-weight: lighter;
    margin: 10px; 
}

p {
    margin-top: 12px;
    font-size: 14px;
}*/

/* Navbar Styles */ 

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto; 
    z-index: 100;
}

nav ul {
    list-style-type: none;
    padding: 0 5px;
}

nav a {
    text-decoration: none; 
    font-weight: bold; 
    text-align: center;
    display: block; 
    padding: 0 10px;
}

nav a:hover {
    background-color: #555;
}

@media screen and (min-width: 768px) 
{
    nav ul {
        display: flex;
        justify-content: flex-end;
    }
    nav li {
        flex: 1 1 0;
    }
}

/* Banner Section */ 

h1 {
    margin: 125px 0 0 0;
}

img {
    border-radius: 5px; 
    opacity: 75%;
    border: solid #fff 1px;
    height: auto; 
    width: 60%;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-right: 5%;
}

/* Character */ 

img.character {
    width: 20%;
    max-width: 150px;
    height: 25%; 
    max-height: 175px;  
    overflow: hidden; 
    margin-top: 0;
}

.container {
    display: inline-flex;
    justify-content: space-around; 
    align-items: flex-start; 
    margin-top: 15px;
}

.container p {
    width: 40%;
    height: auto; 
    margin: 10 5;
    padding: 10 5; 
}

.container h4 {
    width: 20%;
    height: auto; 
    margin: 10 5;
    padding: 10 5; 
    font-weight: bolder; 
    font-size: 24px; 
}

.container a {
    text-decoration: none; 
}

/* Lore */

/* Session Recaps */

aside {
    font-style: italic;
    font-weight: lighter;
    font-size: 18px; 
    color: #777;
    padding: 5px 0 20px 20px;
}

article {
    border-top: 2px #fff solid; 
    margin-top: 12px;
}