/* Global Styles */

:root {
    font-size: 16px;
    font-family: sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 200ms;
    --blue: rgb(72, 200, 210);
}

/* Navbar section */ 

body {
    color: var(--text-secondary);
    background-color: var(--bg-primary);
    margin: 0;
    padding: 0;
    overflow: scroll; 
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #333
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none; 
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed); 
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none; 
    margin-left: 1rem;
}

.nav-link i {
    min-width: 2rem;
    margin: 0 1.5rem;
}

i {
    color: rgb(72, 200, 210);
    transition: var(--transition-speed);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo i {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.navbar:hover .logo i {
    transform: rotate(-180deg);
}

/* small screens */

@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }
    .logo {
        display: none; 
    }
    .navbar-nav {
        flex-direction: row; 
    }
    .nav-link {
        justify-content: center;
    }
    main {
        margin: 0;
    }
}

/* large screens */ 

@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
    .navbar:hover {
        width: 16rem;
    }
    .navbar:hover .link-text {
        display: inline; 
        transition: opacity var(--transition-speed);
    }
}

/* Banner Section */ 


h1 {
    text-align: right; 
}

.banner-image {
    border-radius: 5px; 
    border: solid #fff 1px;
    height: auto; 
    width: 60%;
    float: right; 
}

aside {
    clear: right; 
}

/* Character */ 

img.character {
    width: 75%;
    max-width: 150px;
    height: 75%; 
    max-height: 175px;  
    overflow: hidden; 
    margin: 0;
    padding: 0;
}

.NPC {
    padding-top: 25px;
}

.container {
    display: flex;
    justify-content: space-around; 
    align-items: flex-start; 
}

.container p {
    width: 60%;
    height: auto; 
    padding-top: 14px;
}

.container h4 {
    width: 30%;
    height: auto; 
    font-weight: bolder; 
    font-size: 24px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.container a {
    text-decoration: none; 
}

/* Lore */

/* Session Recaps */

aside {
    font-style: italic;
    font-weight: lighter;
    font-size: 18px; 
    color: #777;
    padding: 5px 0 20px 20px;
}

article {
    border-top: 2px #fff solid; 
    margin-top: 12px;
}