<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% include navigation.html %}
    <main id="main">
      {{ content }}
    </main>
    <div id="push">.
      <br>
      <br>
      <br>
      <br>
    </div>
    <script src="{{ site.url }}/assets/js/hover.js"></script>
  </body>
  </html>
